<!DOCTYPE html>
<html>
<head>
    <title>Update Student</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h2>Update Student</h2>

<form method="POST">
    Name: <input type="text" name="name" value="{{ student.name }}"><br><br>
    Age: <input type="text" name="age" value="{{ student.age }}"><br><br>
    Roll No: <input type="text" name="roll_no" value="{{ student.roll_no }}"><br><br>
    Branch: <input type="text" name="branch" value="{{ student.branch }}"><br><br>

    <button type="submit">Update</button>
</form>

<br>
<a href="/">Back</a>

</body>
</html>